@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,500,700&display=swap');

$font: 'Open Sans', sans-serif;
$bold: 700;
$regular: 500;
$light: 300;

$font-color-primary: #000000;
$font-color-secondary: #ffffff;
$background: #ffffff;
$error: rgb(215, 78, 78);

$purple: #6c63ff;
